rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /inventory/{itemId} {
      allow read, write: if true;
    }
    match /transactions/{txId} {
      allow read, create: if true;
      allow update, delete: if false;
    }
  }
}
